.addcourse-wrapper{

    display: flex;
    
}
.addcourse-wrapper .addcourse-forms{


    /* display: flex;
    flex-direction: column; */
    background-color: aqua;
    width: 400px;
    height:fit-content;
    margin:10px 550px;
    padding: 20px;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    border: 1px solid aqua;
}

.addcourse-wrapper .addcourse-forms input,select,textarea{

    display: flex;
    margin:0px 10px 10px 100px;
    padding: 10px 20px;
    border-radius: 5px;
    /* background-color: aliceblue; */
    border:none;
    font-size: 18px;
    box-shadow: 2px 2px 2px;
    border-radius:5px;
    border: 1px solid aqua;
}


.addcourse-forms textarea{


    height: 200px;
    width: 280px;
    /* margin:0px 0px 10px 100px; */
    margin-right: 20px;
}
.addcourse-wrapper .addcourse-forms label{

    font-size: 28px;
    color:gray;
}


.addcourse-wrapper .addcourse-forms button{


    margin-left:120px;
    margin-top: 30px;
    padding:10px;
    background-color: green;
    border-radius:10px;
    border:1px solid green;
    /* width: 150px; */
font-size: 24px;
color:white;
}


.upload-image{

    width: 270px;
}