.CourseCard-wrapper{

    background-color: antiquewhite;
    width:400px;
    height: 250px;
    margin:20px
}

 .CourseCard-wrapper .card{

    display: flex;
    padding:20px;
    align-items: center;
}

.CourseCard-wrapper .CourseCard-image{

    width: 200px;
    height: 180px;
    /* padding:20px 40px; */
    color:gray;
}
.CourseCard-wrapper h2{

    color:gray;
   
}

.CourseCard-wrapper .no-student h2{

    margin-left:30px;
    /* color: black; */
}